<html lang="en"
			xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
			xmlns:maps2="http://typo3.org/ns/JWeiland/Maps2/ViewHelpers"
			data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="main">
	<f:render partial="FormErrors" arguments="{object: Company}"/>

	<f:form action="create" name="company" object="{company}" enctype="multipart/form-data">
		<maps2:widget.editPoi property="txMaps2Uid"
							  poiCollection="{company.txMaps2Uid}"
							  override="{settings: {mapWidth: '100%', mapHeight: '300'}}" />
		<f:form.submit value="{f:translate(key: 'create')}" />
	</f:form>
</f:section>
</html>
