<f:if condition="{company.images.0}"><f:image image="{company.images.0}" alt="Bild1" /></f:if>
<f:form.upload property="images.0" id="images_0" class="powermail_field powermail_file" />
<div class="powermail_check_inner">
	<f:form.checkbox name="company[images][0][rights]" class="powermail_field powermail_check" value="1" />
	<f:translate key="rightsMessage"/>
</div>
<f:if condition="{company.images.1}"><f:image image="{company.images.1}" alt="Bild2" /></f:if>
<f:form.upload property="images.1" id="images_1" class="powermail_field powermail_file" />
<div class="powermail_check_inner">
	<f:form.checkbox name="company[images][1][rights]" class="powermail_field powermail_check" value="1" />
	<f:translate key="rightsMessage"/>
</div>
<f:if condition="{company.images.2}"><f:image image="{company.images.2}" alt="Bild3" /></f:if>
<f:form.upload property="images.2" id="images_2" class="powermail_field powermail_file" />
<div class="powermail_check_inner">
	<f:form.checkbox name="company[images][2][rights]" class="powermail_field powermail_check" value="1" />
	<f:translate key="rightsMessage"/>
</div>
<f:if condition="{company.images.3}"><f:image image="{company.images.3}" alt="Bild4" /></f:if>
<f:form.upload property="images.3" id="images_3" class="powermail_field powermail_file" />
<div class="powermail_check_inner">
	<f:form.checkbox name="company[images][3][rights]" class="powermail_field powermail_check" value="1" />
	<f:translate key="rightsMessage"/>
</div>
<f:if condition="{company.images.4}"><f:image image="{company.images.4}" alt="Bild5" /></f:if>
<f:form.upload property="images.4" id="images_4" class="powermail_field powermail_file" />
<div class="powermail_check_inner">
	<f:form.checkbox name="company[images][4][rights]" class="powermail_field powermail_check" value="1" />
	<f:translate key="rightsMessage"/>
</div>
