<f:render section="uploadImage" arguments="{image: event.images.0, index: '0', position: '1'}" />
<f:render section="uploadImage" arguments="{image: event.images.1, index: '1', position: '2'}" />
<f:render section="uploadImage" arguments="{image: event.images.2, index: '2', position: '3'}" />
<f:render section="uploadImage" arguments="{image: event.images.3, index: '3', position: '4'}" />
<f:render section="uploadImage" arguments="{image: event.images.4, index: '4', position: '5'}" />

<f:section name="uploadImage">
	<f:if condition="{image}">
		<f:image image="{image}" alt="Bild{position}" />
	</f:if>
	<f:form.upload property="images.{index}" id="images_{index}" class="powermail_field powermail_file" />
</f:section>
