<html lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:form.select additionalAttributes="{required: 'required'}"
               name="company[{field}][]"
               id="{field}"
               options="{options}"
               size="1"
               value="{f:if(condition: company.firstMainTrade, then: company.firstMainTrade.uid, else: 0)}"
               optionValueField="uid"
               optionLabelField="title"
               sortByOptionLabel="1"
               prependOptionLabel="{f:translate(key: 'pleaseChoose')}"
               prependOptionValue=""/>
</html>
