<html lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:if condition="{company.telephone}">
    <span aria-hidden="true" class="icon-phone_pf"></span>{company.telephone}
</f:if>
<br/>

<f:if condition="{company.fax}">
    <span aria-hidden="true" class="icon-fax_pf"></span>{company.fax}
</f:if>
<br/>

<f:if condition="{company.email}">
    <span aria-hidden="true" class="icon-email"></span>
    <f:link.email title="{company.email}" email="{company.email}">E-Mail</f:link.email>
</f:if>
<br/>

<f:if condition="{company.website}">
    <span aria-hidden="true" class="icon-earth"></span>
    <f:link.external title="{company.website}" uri="{company.website}">Website</f:link.external>
</f:if>
</html>
