<html lang="en"
			xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
			data-namespace-typo3-fluid="true">

<f:if condition="{companies}">
	<f:then>
		<div>
			<f:widget.paginate objects="{companies}" as="paginatedCompanies" configuration="{itemsPerPage: settings.pageBrowser.itemsPerPage, insertAbove: settings.pageBrowser.insertAbove, insertBelow: settings.pageBrowser.insertBelow, maximumNumberOfLinks: settings.pageBrowser.maximumNumberOfLinks}">
				<f:for each="{paginatedCompanies}" as="company">
					<div>
						<h2>
							<f:link.action action="show"
										   pageUid="{settings.pidOfDetailPage}"
										   arguments="{company: company}">
								{company.company}
							</f:link.action>
						</h2>
						{f:translate(key: 'branch')}: {company.mainTrade.title}
					</div>
				</f:for>
			</f:widget.paginate>
		</div>
	</f:then>
	<f:else>
		<div class="noResults">{f:translate(key: 'noResults')}</div>
	</f:else>
</f:if>
</html>
