{namespace yp=JWeiland\Maps2\ViewHelpers}

<f:if condition="{company.hasValidUser}">
	<p class="align-right info-box">
	<f:link.action class="edit" action="edit" arguments="{company: company}">
		<span><f:translate key="editCompany"/></span><span aria-hidden="true" class="icon-arrowright"></span>
	</f:link.action>
	</p>
</f:if>

<div class="thumbnail grid_1 floatleft">
	<figure class="marginbottom gridrightstd">
		<f:if condition="{company.logo}">
			<f:then>
				<f:image image="{company.logo}" alt="Logo: {company.company}" width="{settings.list.image.width}" height="{settings.list.image.height}" />
			</f:then>
			<f:else>
				<f:if condition="{company.mainTrade.0.icon}">
					<f:image src="uploads/tx_yellowpages2/{company.mainTrade.0.icon}" alt="Logo: {company.mainTrade.0.title}" width="{settings.list.image.width}" height="{settings.list.image.height}" />
				</f:if>
			</f:else>
		</f:if>
	</figure>
</div>
<header class="grid_11 floatleft marginbottom"><h1>{company.company}</h1></header>
<div class="grid_12 clearer clearfix">
	<div class="grid_6 floatleft">
		<f:if condition="{company.images->f:count()}">
			<figure class="gridright marginbottom2">
				<f:render partial="Company/Images" arguments="{company: company}" />
			</figure>
		</f:if>

		<f:if condition="{company.description}">
			<div class="description gridright marginbottom"><f:format.html>{company.description}</f:format.html></div>
		</f:if>
		&nbsp;
	</div>
	<div class="grid_6 floatleft">
		<div class="gridleft clearfix rulerbefore4">
			<dl class="extdl">
				<dd>
				<f:render partial="Company/Address" arguments="{company: company}"/>
				</dd>
					<f:if condition="{company.openingTimes}">
						<dt>
							<f:translate key="tx_yellowpages2_domain_model_company.openingTimes"/>:
						</dt>
						<dd>
							 {company.openingTimes -> f:format.html(parseFuncTSPath: 'lib.parseFunc') -> f:format.nl2br()}
						</dd>
					</f:if>
				</dl>
				<dl class="extdl clearfix rulerafter">
				<dd class="grid_8 floatleft noborder">
					<f:render partial="Company/Contact" arguments="{company: company}"/>
				</dd>
				<f:if condition="{company.txMaps2Uid}">
					<dd class="grid_4 floatleft noborder">
						<f:link.action title="Map detail" action="show" controller="PoiCollection" extensionName="maps2" pluginName="maps2" pageUid="{settings.pidOfMaps2Plugin}" arguments="{poiCollection: company.txMaps2Uid}">
							<f:image class="floatright" src="EXT:yellowpages2/Resources/Public/Icons/ThumbMaps2.png" alt="{f:translate(key: 'altTextMapImg')}"/>
						</f:link.action>
					</dd>
				</f:if>
				</dl>
				<dl class="extdl">
				<f:if condition="{company.contactPerson}">
					<dt>
						<f:translate key="tx_yellowpages2_domain_model_company.contactPerson"/>:</dt>
					<dd>
						 {company.contactPerson}
					</dd>
				</f:if>

				<dt><f:translate key="tx_yellowpages2_domain_model_company.barrierFree"/>:</dt>
				<dd>
					<f:if condition="{company.barrierFree}">
						<f:then>
							<f:translate key="yes"/>
						</f:then>
						<f:else>
							<f:translate key="no"/>
						</f:else>
					</f:if>
				</dd>
			</dl>
		</div>
	</div>
</div>
