<html lang="en"
			xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
			data-namespace-typo3-fluid="true">

<f:if condition="{company.hasValidUser}">
	<p>
		<f:link.action class="edit" action="edit" arguments="{company: company}">
			<span>{f:translate(key: 'editCompany')}</span>
			<span aria-hidden="true" class="icon-arrowright"></span>
		</f:link.action>
	</p>
</f:if>

<div class="thumbnail grid_1 floatleft">
	<figure>
		<f:if condition="{company.logo}">
			<f:image image="{company.logo}"
							 alt="Logo: {company.company}"
							 width="{settings.show.logo.width}"
							 height="{settings.show.logo.height}" />
		</f:if>
	</figure>
</div>

<header><h1>{company.company}</h1></header>

<div>
	<f:if condition="{company.images -> f:count()}">
		<figure>
			<f:render partial="Company/Images" arguments="{company: company}" />
		</figure>
	</f:if>

	<f:if condition="{company.description}">
		<div>
			<f:format.html>{company.description}</f:format.html>
		</div>
	</f:if>
</div>

<div>
	<dl>
		<dd>
			<f:render partial="Company/Address" arguments="{company: company}"/>
		</dd>
		<f:if condition="{company.openingTimes}">
			<dt>{f:translate(key: 'tx_yellowpages2_domain_model_company.openingTimes')}:</dt>
			<dd>
				 {company.openingTimes -> f:format.html(parseFuncTSPath: 'lib.parseFunc') -> f:format.nl2br()}
			</dd>
		</f:if>
	</dl>

	<dl>
		<dd>
			<f:render partial="Company/Contact" arguments="{company: company}"/>
		</dd>
		<f:if condition="{company.txMaps2Uid}">
			<dd>
				<f:link.action title="Map detail"
											 action="show"
											 controller="PoiCollection"
											 extensionName="maps2"
											 pluginName="maps2"
											 pageUid="{settings.pidOfMaps2Plugin}"
											 arguments="{poiCollection: company.txMaps2Uid}">
					<f:image class="floatright"
									 src="EXT:yellowpages2/Resources/Public/Icons/ThumbMaps2.png"
									 alt="{f:translate(key: 'altTextMapImg')}" />
				</f:link.action>
			</dd>
		</f:if>
	</dl>

	<dl>
		<f:if condition="{company.contactPerson}">
			<dt>{f:translate(key: 'tx_yellowpages2_domain_model_company.contactPerson')}:</dt>
			<dd>{company.contactPerson}</dd>
		</f:if>

		<dt>{f:translate(key: 'tx_yellowpages2_domain_model_company.barrierFree')}:</dt>
		<dd>
			<f:if condition="{company.barrierFree}">
				<f:then>{f:translate(key: 'yes')}</f:then>
				<f:else>{f:translate(key: 'no')}</f:else>
			</f:if>
		</dd>
	</dl>
</div>
</html>
