<html lang="en"
			xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
			data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="main">
	<f:flashMessages />

	<f:render partial="FormErrors" arguments="{object: Company}" />

	<f:form action="create" name="company" object="{company}" enctype="multipart/form-data">
		<fieldset>
			<legend>{f:translate(key: 'newCompany')}</legend>

			<f:render partial="Company/FormFields"
					  arguments="{company: company, districts: districts, categories: categories}" />

			<div>
				<f:form.submit value="{f:translate(key: 'create')}" />
			</div>
		</fieldset>
	</f:form>
</f:section>
</html>
