services:
  _defaults:
    autowire: true
    autoconfigure: true
    public: false

  JWeiland\Yellowpages2\:
    resource: '../Classes/*'

  JWeiland\Yellowpages2\Configuration\ExtConf:
    public: true

  JWeiland\Yellowpages2\Helper\HiddenObjectHelper:
    public: true

  JWeiland\Yellowpages2\Hook\ClearCacheHook:
    public: true

  JWeiland\Yellowpages2\EventListener\AddPaginatorEventListener:
    tags:
      - name: event.listener
        event: JWeiland\Yellowpages2\Event\PostProcessFluidVariablesEvent
  JWeiland\Yellowpages2\EventListener\AddGlossaryEventListener:
    tags:
      - name: event.listener
        event: JWeiland\Yellowpages2\Event\PostProcessFluidVariablesEvent
        after: JWeiland\Yellowpages2\EventListener\AddPaginatorEventListener

  JWeiland\Yellowpages2\EventListener\AssignMediaTypeConverterEventListener:
    tags:
      - name: event.listener
        event: JWeiland\Yellowpages2\Event\PreProcessControllerActionEvent
  JWeiland\Yellowpages2\EventListener\RegisterHiddenCompanyEventListener:
    tags:
      - name: event.listener
        event: JWeiland\Yellowpages2\Event\PreProcessControllerActionEvent
  JWeiland\Yellowpages2\EventListener\RemoveEmptyTradesEventListener:
    tags:
      - name: event.listener
        event: JWeiland\Yellowpages2\Event\PreProcessControllerActionEvent
  JWeiland\Yellowpages2\EventListener\SanitizeSearchWordEventListener:
    tags:
      - name: event.listener
        event: JWeiland\Yellowpages2\Event\PreProcessControllerActionEvent

  JWeiland\Yellowpages2\EventListener\UpdateCompanyPathSegmentEventListener:
    tags:
      - name: event.listener
        event: JWeiland\Yellowpages2\Event\PostProcessControllerActionEvent
